.services {
  display: grid;
  grid-template-rows: 2vh 45vh repeat(6, min-content);
  grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat( 8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end];
}

// .page-banner {
  //   background-color: red;
  //   grid-column: full-start / full-end;
  // }
  // .feature {
  //   &__text {
  //     background-color: black;
  //     grid-column: full-start / col-end 3;
  //   }
  //   &__column {
  //     background-color: yellow;
  //     grid-column: col-start 4 / full-end;
  //   }
  // }