.wrapper {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.flex-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.box-layout {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
  margin: 0 90px;
}

.image {
  max-width: 100%;
}

.section-title {
  text-align: center;
  margin-bottom: 5rem;
  &--left {
    text-align: left;
    p {
      @include medium {
        width: 57%;
        margin: 0 !important;
      }
    }
  }
  h2 {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 3.2rem;
    margin-bottom: 2rem;
  }
  p {
    @include medium {
      width: 57%;
      margin: auto;
    }
  }
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.p-tb {
  padding: 6rem 0;
  @include medium {
    padding: 15rem 0;
  }
}

.p-b {
  padding-bottom: 6rem;
  @include medium {
    padding-bottom: 15rem;
  }
}

.m-bottom-2 {
  margin-bottom: 2rem;
}

.letter-big {
  color: #303030;
  float: left;
  font-size: 6rem;
  font-weight: 600;
  height: 5rem;
  line-height: 5rem;
  padding-right: 1rem;
}

.social-menu {
  li a {
    margin-left: 15px;
    margin-bottom: 0;
    color: #989898;
    @include respond(tab-port) {
      margin: 0 1.5rem;
    }
    &:hover {
      color: $bunker;
    }
  }
}

.overlay::before {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;
}