.section-title {
  text-align: center;
  margin-bottom: 5rem;
  h2 {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 3.2rem;
    margin-bottom: 2rem;
  }
  .p {
    @include medium {
      width: 61%;
    }
    margin-right: auto;
    margin-left: auto;
    &--small {
      @include medium {
        max-width: 56%;
      }
    }
    &--no-margin {
      margin: 0;
    }
  }
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.p-tb {
  padding: 8rem 0;
  @include medium {
    padding: 15rem 0;
  }
}

.p-b {
  padding-bottom: 15rem;
}

.m-bottom-2 {
  margin-bottom: 2rem;
}

.letter-big {
  color: #303030;
  float: left;
  font-size: 6rem;
  font-weight: 600;
  height: 5rem;
  line-height: 5rem;
  padding-right: 1rem;
}

.wrapper {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.flex-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  &--sb {
    @include medium {
      justify-content: space-between;
    }
  }
}

.social-menu {
  li a {
    margin-left: 15px;
    margin-bottom: 0;
    color: #989898;
    &:hover {
      color: $dark-color;
    }
  }
}

.d-none {
  display: none;
  @include medium {
    display: block;
  }
}