$mine-shaft: #303030;
$scopion: #606060;
$bunker: #0f151d;
$gallery: #ededed;
$gallery-2: #eeeeee;
$gallery-solid: #efefef;
$silver: #bcbcbc;
$dove-gray: #707070;
//Fonts
$default-font: "Open Sans",
sans-serif;
$title-font: "Raleway",
sans-serif;