.primary-nav {
  @include respond(tab-port) {
    display: none;
  }
  &__content {
    white-space: nowrap;
    padding-right: 5rem;
    transform: scaleX(0);
    transform-origin: 100% 0;
    transition: all 0.8s cubic-bezier(0.6, 0.02, 0.35, 0.99) 0s;
    visibility: 0;
    &--is-visible {
      transform: scaleX(1);
    }
  }
  li {
    position: relative;
    margin-left: 3rem;
  }
  li a {
    position: relative;
    font-size: 1.4rem;
    color: $cape;
    font-weight: 600;
    line-height: 2.2rem;
    padding: 0.5rem 0;
    display: block;
    text-transform: uppercase;
    &:hover {
      color: #000;
    }
  }
}
