.primary-nav {
  &__content {
    @include respond(tab-port) {
      background: #1c1c1c;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 50%;
      height: auto;
      padding: 0 0 11.7rem;
      transform: scaleX(0);
      transform-origin: 0 -100%;
      transition: all 0.8s cubic-bezier(0.6, 0.02, 0.35, 0.99) 0s;
      &--is-visible {
        transform: scaleX(1);
      }
    }
    @include medium {
      display: flex;
      white-space: nowrap;
      padding-right: 5rem;
      transform: scaleX(0);
      transform-origin: 100% 0;
      transition: all 0.8s cubic-bezier(0.6, 0.02, 0.35, 0.99) 0s;
      visibility: 0;
      &--is-visible {
        transform: scaleX(1);
      }
    }
  }
  li {
    position: relative;
    margin-left: 3rem;
    @include respond(tab-port) {
      margin-left: 0;
    }
  }
  li a {
    position: relative;
    font-size: 1.4rem;
    color: $cape;
    font-weight: 600;
    line-height: 2.2rem;
    padding: 0.5rem 0;
    display: block;
    text-transform: uppercase;
    @include respond(tab-port) {
      color: #fff;
      font-size: 1.2rem;
      font-weight: 500;
      padding: 1.3rem 5%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    &:hover {
      color: #000;
      @include respond(tab-port) {
        color: #fff;
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}
