.testimonials {
  grid-column: full-start / full-end;
  &__image {
    height: 100px;
    width: 100px;
    margin: auto;
    img {
      border-radius: 100px;
    }
  }
  .swiper-slide {
    * {
      margin-bottom: 2.5rem;
    }
    p {
      max-width: 32%;
      margin: auto;
      color: #fff;
    }
  }
}